<div class="d-flex justify-content-between">
    <div class="fs-36 fw-500">Fresh Red Velvet Cream</div>
    <div class="mt-2"><%= image_tag 'delivery/icon/heart-icon.svg', class: 'bg-light-green'%></div>
</div>
<div class="d-flex justify-content-between">
    <div class="fs-28 fw-400">Price:<span class="green px-2">₹540.00</span><span class="text-secondary"><del
                class="">₹560.00</del></span> </div>
    <div class="fs-22 fw-500  p-1 red-background text-light">10% Off</div>
</div>
<div>
    <%= image_tag 'delivery/icon/solid-purple-star.svg'%>
    <%= image_tag 'delivery/icon/solid-purple-star.svg'%>
    <%= image_tag 'delivery/icon/solid-purple-star.svg'%>
    <%= image_tag 'delivery/icon/solid-purple-star.svg'%>
    <%= image_tag 'delivery/icon/light-purple-star.svg'%>
    <span class="purple-color ps-2">232 Reviews</span>
</div>
<div class="fs-18 mt-2">Weight: 1Kg</div>
<div class="yellow-border mt-2 ps-1 fs-16">
    1 Kg
</div>
<div class="mt-2">
    <div class="fs-16 fw-600">Flavour</div>
    <ul>
        <li style="list-style-type: circle;">
            <div class="d-flex justify-content-between">
                <div>Chocolate</div>
                <div> ₹10.00</div>
            </div>
        </li>
        <li style="list-style-type: circle;">
            <div class="d-flex justify-content-between">
                <div>Vanilla</div>
                <div> ₹10.00</div>
            </div>
        </li>
    </ul>

</div>
<div class="mt-2">
    <div class="fs-16 fw-600">Color</div>
    <ul>
        <li style="list-style-type: circle;">
            <div class="d-flex justify-content-between">
                <div>Red</div>
                <div> ₹10.00</div>
            </div>
        </li>
        <li style="list-style-type: circle;">
            <div class="d-flex justify-content-between">
                <div>Green</div>
                <div> ₹10.00</div>
            </div>
        </li>
    </ul>

</div>

<!-- <div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button fs-16" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                1 Kg
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="fs-16 fw-600">Flavour</div>
                <ul>
                    <li style="list-style-type: circle;">
                        <div class="d-flex justify-content-between">
                            <div>Chocolate</div>
                            <div> ₹10.00</div>
                        </div>
                    </li>
                    <li style="list-style-type: circle;">
                        <div class="d-flex justify-content-between">
                            <div>Vanilla</div>
                            <div> ₹10.00</div>
                        </div>
                    </li>
                </ul>
                <div class="mt-2">
                    <div class="fs-16 fw-600">Color</div>
                    <ul>
                        <li style="list-style-type: circle;">
                            <div class="d-flex justify-content-between">
                                <div>Red</div>
                                <div> ₹10.00</div>
                            </div>
                        </li>
                        <li style="list-style-type: circle;">
                            <div class="d-flex justify-content-between">
                                <div>Green</div>
                                <div> ₹10.00</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion mt-2" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button fs-16" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                2 Kg
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="fs-16 fw-600">Flavour</div>
                <ul>
                    <li style="list-style-type: circle;">
                        <div class="d-flex justify-content-between">
                            <div>Chocolate</div>
                            <div> ₹10.00</div>
                        </div>
                    </li>
                    <li style="list-style-type: circle;">
                        <div class="d-flex justify-content-between">
                            <div>Vanilla</div>
                            <div> ₹10.00</div>
                        </div>
                    </li>
                </ul>
                <div class="mt-2">
                    <div class="fs-16 fw-600">Color</div>
                    <ul>
                        <li style="list-style-type: circle;">
                            <div class="d-flex justify-content-between">
                                <div>Red</div>
                                <div> ₹10.00</div>
                            </div>
                        </li>
                        <li style="list-style-type: circle;">
                            <div class="d-flex justify-content-between">
                                <div>Green</div>
                                <div> ₹10.00</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->
<style>
    .bg-dark-green {
        background-color: #53900F;
    }

    .bg-light-green {
        background-color: #E6FFDD;
        ;
    }

    .green {
        color: #53900F;
    }

    .red-background {
        background-color: #EF4129;
    }

    .purple-color {
        color: #A600A6;
    }

    .yellow-border {
        background: #FFFFFF;
        border: 1px solid #FFBC00;
        border-radius: 4px;
    }
</style>