<div class="row px-3 my-2">
   <div class="fs-34 fw-600"> Featured</div>
    <div class="col f-border p-3 m-1">
        <div class="">
            <%= image_tag 'home/featured/image-1.jpg',class:'w-100' %>
        </div>
        <div class="fs-12 fw-500 f-g-color py-2">BAKERY</div>
        <div class="d-flex justify-content-between">
            <div class="fs-18  fw-600">S Baking Co</div>
            <div class=" "><%= image_tag 'icon/yellow-star.svg'%><span class=" f-g-color ps-1 mt-1">(5)</span></div>
        </div>
        <div class="fs-14 fw-400 f-g-color my-2">Cake Shop - 43, 1, Agnipath Corner 123 A,
            road phase 1, Civil Lines, Prayagraj.
        </div>
        <div><span class="fw-700 text-success">Open</span> - Closes at 10:30 pm</div>
        <div class="d-flex justify-content-around my-2">
            <div class="f-order-btn text-light p-2 fs-14 fw-600"> Order Now</div>
            <div class="f-menu-btn p-2 fs-14 fw-600"> View Menu</div>
        </div>
    </div>
    <div class="col f-border p-3 m-1">
        <div class="">
            <%= image_tag 'home/featured/image-2.jpg' ,class:'w-100'%>
        </div>
        <div class="fs-12 fw-500 f-g-color py-2">PHARMACY</div>
        <div class="d-flex justify-content-between">
            <div class="fs-18  fw-600">S Baking Co</div>
            <div class=" "><%= image_tag 'icon/yellow-star.svg'%>
                <%= image_tag 'icon/yellow-star.svg'%>
                <%= image_tag 'icon/yellow-star.svg'%>
                <span class=" f-g-color ps-1 mt-1">(21)</span>
            </div>
        </div>
        <div class="fs-14 fw-400 f-g-color my-2">Cake Shop - 43, 1, Agnipath Corner 123 A,
            road phase 1, Civil Lines, Prayagraj.</div>
        <div><span class="fw-700 text-success">Open</span> - Closes at 10:30 pm</div>
        <div class="d-flex justify-content-around my-2">
            <div class="f-order-btn text-light p-2 fs-14 fw-600"> Order Now</div>
            <div class="f-menu-btn p-2 fs-14 fw-600"> View Menu</div>
        </div>
    </div>
    <div class="col f-border p-3 m-1">
        <div class="">
            <%= image_tag 'home/featured/image-3.jpg' ,class:'w-100'%>
        </div>
        <div class="fs-12 fw-500 f-g-color py-2"> ELECTRONICS</div>
        <div class="d-flex justify-content-between">
            <div class="fs-18  fw-600">A.N. Electronics</div>
            <div class=" "><%= image_tag 'icon/yellow-star.svg'%>
                <%= image_tag 'icon/yellow-star.svg'%>
                <%= image_tag 'icon/yellow-star.svg'%>
                <span class=" f-g-color ps-1 mt-1">(11)</span>
            </div>
        </div>
        <div class="fs-14 fw-400 f-g-color my-2">Cake Shop - 43, 1, Agnipath Corner 123 A,
            road phase 1, Civil Lines, Prayagraj.</div>
        <div><span class="fw-700 text-success">Open</span> - Closes at 10:30 pm</div>
        <div class="d-flex justify-content-around my-2">
            <div class="f-order-btn text-light p-2 fs-14 fw-600"> Order Now</div>
            <div class="f-menu-btn p-2 fs-14 fw-600"> View Menu</div>
        </div>
    </div>
    <div class="col f-border p-3 m-1">
        <div class="">
            <%= image_tag 'home/featured/image-4.jpg' ,class:'w-100'%>
        </div>
        <div class="fs-12 fw-500 f-g-color py-2">POULTRY</div>
        <div class="d-flex justify-content-between">
            <div class="fs-18  fw-600">Ahm. Poultry Farm</div>
            <div class=" "><%= image_tag 'icon/yellow-star.svg'%>
                <%= image_tag 'icon/yellow-star.svg'%>
                <%= image_tag 'icon/yellow-star.svg'%>
                <span class=" f-g-color ps-1 mt-1">(21)</span>
            </div>
        </div>
        <div class="fs-14 fw-400 f-g-color my-2">CRJF+C7J, Noorullah Rd, GTB Nagar, Bangalore, Karnataka 560087</div>
        <div><span class="fw-700 text-success">Open</span> - Closes at 10:30 pm</div>
        <div class="d-flex justify-content-around my-2">
            <div class="f-order-btn text-light p-2 fs-14 fw-600"> Order Now</div>
            <div class="f-menu-btn p-2 fs-14 fw-600"> View Menu</div>
        </div>
    </div>
</div>
<div class="row px-3 my-2">
    <div class="fs-34 fw-600"> Trending Businesses</div>
    <div class="col f-border p-3 m-1">
        <div class="">
            <%= image_tag 'home/featured/image-1.jpg',class:'w-100' %>
        </div>
        <div class="fs-12 fw-500 f-g-color py-2">BAKERY</div>
        <div class="d-flex justify-content-between">
            <div class="fs-18  fw-600">S Baking Co</div>
            <div class=" "><%= image_tag 'icon/yellow-star.svg'%><span class=" f-g-color ps-1 mt-1">(5)</span></div>
        </div>
        <div class="fs-14 fw-400 f-g-color my-2">Cake Shop - 43, 1, Agnipath Corner 123 A,
            road phase 1, Civil Lines, Prayagraj.
        </div>
        <div><span class="fw-700 text-success">Open</span> - Closes at 10:30 pm</div>
        <div class="d-flex justify-content-around my-2">
            <div class="f-order-btn text-light p-2 fs-14 fw-600"> Order Now</div>
            <div class="f-menu-btn p-2 fs-14 fw-600"> View Menu</div>
        </div>
    </div>
    <div class="col f-border p-3 m-1">
        <div class="">
            <%= image_tag 'home/featured/image-2.jpg' ,class:'w-100'%>
        </div>
        <div class="fs-12 fw-500 f-g-color py-2">PHARMACY</div>
        <div class="d-flex justify-content-between">
            <div class="fs-18  fw-600">S Baking Co</div>
            <div class=" "><%= image_tag 'icon/yellow-star.svg'%>
                <%= image_tag 'icon/yellow-star.svg'%>
                <%= image_tag 'icon/yellow-star.svg'%>
                <span class=" f-g-color ps-1 mt-1">(21)</span>
            </div>
        </div>
        <div class="fs-14 fw-400 f-g-color my-2">Cake Shop - 43, 1, Agnipath Corner 123 A,
            road phase 1, Civil Lines, Prayagraj.</div>
        <div><span class="fw-700 text-success">Open</span> - Closes at 10:30 pm</div>
        <div class="d-flex justify-content-around my-2">
            <div class="f-order-btn text-light p-2 fs-14 fw-600"> Order Now</div>
            <div class="f-menu-btn p-2 fs-14 fw-600"> View Menu</div>
        </div>
    </div>
    <div class="col f-border p-3 m-1">
        <div class="">
            <%= image_tag 'home/featured/image-3.jpg' ,class:'w-100'%>
        </div>
        <div class="fs-12 fw-500 f-g-color py-2"> ELECTRONICS</div>
        <div class="d-flex justify-content-between">
            <div class="fs-18  fw-600">A.N. Electronics</div>
            <div class=" "><%= image_tag 'icon/yellow-star.svg'%>
                <%= image_tag 'icon/yellow-star.svg'%>
                <%= image_tag 'icon/yellow-star.svg'%>
                <span class=" f-g-color ps-1 mt-1">(11)</span>
            </div>
        </div>
        <div class="fs-14 fw-400 f-g-color my-2">Cake Shop - 43, 1, Agnipath Corner 123 A,
            road phase 1, Civil Lines, Prayagraj.</div>
        <div><span class="fw-700 text-success">Open</span> - Closes at 10:30 pm</div>
        <div class="d-flex justify-content-around my-2">
            <div class="f-order-btn text-light p-2 fs-14 fw-600"> Order Now</div>
            <div class="f-menu-btn p-2 fs-14 fw-600"> View Menu</div>
        </div>
    </div>
    <div class="col f-border p-3 m-1">
        <div class="">
            <%= image_tag 'home/featured/image-4.jpg' ,class:'w-100'%>
        </div>
        <div class="fs-12 fw-500 f-g-color py-2">POULTRY</div>
        <div class="d-flex justify-content-between">
            <div class="fs-18  fw-600">Ahm. Poultry Farm</div>
            <div class=" "><%= image_tag 'icon/yellow-star.svg'%>
                <%= image_tag 'icon/yellow-star.svg'%>
                <%= image_tag 'icon/yellow-star.svg'%>
                <span class=" f-g-color ps-1 mt-1">(21)</span>
            </div>
        </div>
        <div class="fs-14 fw-400 f-g-color my-2">CRJF+C7J, Noorullah Rd, GTB Nagar, Bangalore, Karnataka 560087</div>
        <div><span class="fw-700 text-success">Open</span> - Closes at 10:30 pm</div>
        <div class="d-flex justify-content-around my-2">
            <div class="f-order-btn text-light p-2 fs-14 fw-600"> Order Now</div>
            <div class="f-menu-btn p-2 fs-14 fw-600"> View Menu</div>
        </div>
    </div>
</div>

<style>
    .f-border {
        background: #FFFFFF;
        border: 1px solid #E6E6E6;
        border-radius: 4px;
    }

    .f-g-color {
        color: #595959;
    }

    .f-order-btn {
        background: #F1623F;
        border-radius: 6px;
    }

    .f-menu-btn {
        background: #FFFFFF;
        border: 1px solid #D8D8D8;
        border-radius: 6px;
        color: #FF5B5A;
    }
</style>