<div class="bg-dark text-light">
    <div class="row row-cols-auto py-5">
        <div class="col-3">
            <%=image_tag 'footer/footer-logo2.svg',class:'ps-3'%>
            <div class="ps-4">For any commerce</div>
        </div>
        <div class="col-9  fs-22 fw-400">Empowering every retailer and the retail industry with the world's best tech
            and tools for them to thrive in the highly competitive Retail Commerce.
        </div>
    </div>
    <div class="row ps-4 py-2">
        <div class="col">
            <div class="fs-16 fw-700">Go Digital</div>
            <div class="fs-14 fw-400 my-2">Branding</div>
            <div class="fs-14 fw-400 my-2">Setup your online store</div>
            <div class="fs-14 fw-400 my-2">Digital product catalouge an</div>
            <div class="fs-14 fw-400 my-2">Website Templates</div>
        </div>
        <div class="col">
            <div class="fs-=16 fw-700">Commerce</div>
            <div class="fs-14 fw-400 my-2">Online Store</div>
            <div class="fs-14 fw-400 my-2">QR Code Menu</div>
            <div class="fs-14 fw-400 my-2">Whastapp Catalouge</div>
            <div class="fs-14 fw-400 my-2">Social Media</div>
            <div class="fs-14 fw-400 my-2">Buy Button</div>
            <div class="fs-14 fw-400 my-2">Checkout/Pay Collect</div>
            <div class="fs-14 fw-400 my-2">Marketplace</div>
            <div class="fs-14 fw-400 my-2">ONDC</div>
            <div class="fs-14 fw-400 my-2">Point Of Sale</div>
            <div class="fs-14 fw-400 my-2">Headless Commerce</div>
        </div>
        <div class="col">
            <div class="fw-700 fs-16">Marketing</div>
            <div class="fs-14 fw-400 my-2">Whatsapp Marketing</div>
            <div class="fs-14 fw-400 my-2">Social Media Marketing</div>
            <div class="fs-14 fw-400 my-2">Marketing Automation</div>
            <div class="fs-14 fw-400 my-2">Offers & Promotions</div>
            <div class="fs-14 fw-400 my-2">Customer Segmentations</div>
            <div class="fs-14 fw-400 my-2">Business Chat</div>
            <div class="fs-14 fw-400 my-2">Facebook Ads</div>
            <div class="fs-14 fw-400 my-2">Google Ads</div>
            <div class="fs-14 fw-400 my-2">Get On Google</div>
            <div class="fs-14 fw-400 my-2">Integrated SEO</div>
        </div>
        <div class="col">
            <div class="fw-700 fs-16">Manage</div>
            <div class="fs-14 fw-400 my-2">Integrated Inventory</div>
            <div class="fs-14 fw-400 my-2">Procurement</div>
            <div class="fs-14 fw-400 my-2">Production & Factory</div>
            <div class="fs-14 fw-400 my-2">Raw Materials</div>
            <div class="fs-14 fw-400 my-2">Suppliers</div>
            <div class="fs-14 fw-400 my-2">Warehouse</div>
            <div class="fs-14 fw-400 my-2">Staffs & Shifts</div>
        </div>
    </div>
    <div class="row  ps-4 py-2">
        <div class="col">
        </div>
        <div class="col">
            <div class="fw-700 fs-16">Solutions For</div>
            <div class="fs-14 fw-400 my-2">Retail</div>
            <div class="fs-14 fw-400 my-2">F & B</div>
            <div class="fs-14 fw-400 my-2">Delivery</div>
            <div class="fs-14 fw-400 my-2">D2C</div>
            <div class="fs-14 fw-400 my-2">eB2B</div>
            <div class="fs-14 fw-400 my-2">O2O</div>
            <div class="fs-14 fw-400 my-2">Franchise</div>
            <div class="fs-14 fw-400 my-2">Large Businesses</div>
        </div>
        <div class="col">
            <div class="fs-16 fw-700">Company</div>
            <div class="fs-14 fw-400 my-2">About Us</div>
            <div class="fs-14 fw-400 my-2">Leadership</div>
            <div class="fs-14 fw-400 my-2">Partners</div>
            <div class="fs-14 fw-400 my-2">Careers</div>
            <div class="fs-14 fw-400 my-2">Media/News</div>
            <div class="fs-14 fw-400 my-2">Investor</div>
            <div class="fs-14 fw-400 my-2">Contact Us</div>
        </div>
        <div class="col">
            <div class="fs-16 fw-700">Tools</div>
            <div class="fs-14 fw-400 my-2">The Vault</div>
            <div class="fs-14 fw-400 my-2">Contently</div>
            <div class="fs-14 fw-400 my-2">Imagely</div>
            <div class="fs-14 fw-400 my-2">Domain Name</div>
            <div class="fs-14 fw-400 my-2">Business Name</div>
        </div>
    </div>
    <div class="row  ps-4 py-2">
        <div class="col ">
            <%= image_tag  'footer/facebook-icon.svg', class:'px-3'%>
            <%= image_tag  'footer/instagram-icon.svg', class:'px-2'%>
            <%= image_tag  'footer/twitter-icon.svg', class:'px-2'%>
            <%= image_tag  'footer/github-icon.svg', class:'px-2'%>
            <%= image_tag  'footer/social-icon.svg', class:'px-2'%>
        </div>
        <div class="col ">
            <div class="fs-16 fw-700">Address</div>
            <div class="fs-14 fw-400 my-2">Innobits Solutions Pvt. Ltd.</div>
            <div class="fs-14 fw-400 my-2">#221, Kempa Plaza 3rd floor, ORR,</div>
            <div class="fs-14 fw-400 my-2">Banashankari 3rd stage, Bangalore</div>
            <div class="fs-14 fw-400 my-2">560085</div>
        </div>
        <div class="col ">
            <div class="fw-700 fs-16">Contact us</div>
            <div class="fs-14 fw-400 my-2">(+91) 89518 98275</div>
            <div class="fs-14 fw-400 my-2">connect@innobits.com</div>
        </div>
        <div class="col ">
            <div class="fs-14 fw-400 my-2">India (English)</div>
        </div>
    </div>
    <div class="text-center fs-18 fw-400">Copyright 2022 Innobits Private Ltd. All Rights Reserved</div>
    <hr>
    <div class="text-center fs-18 fw-400 text-secondary py-2">from</div>
    <div class="d-flex justify-content-center  pb-4"><%= image_tag 'footer/footer-logo-end.svg'%> </div>
</div>