<div class="bg-dark text-light">
  <div class="row py-5">
    <div class="col-md-4 col-sm-12">
      <div class="d-flex ps-3">
        <%=image_tag 'footer/footer-logo.svg'%>
        <span class="fs-1 ps-1">enstore</span>
      </div>
      <div class="fs-14 ps-3 mt-2"> A company engaged in travel that<br> will make it easier for you when you want to
        vacation</div>
      <div class=" mt-2">
        <%= image_tag  'footer/facebook-icon.svg', class:'px-3'%>
        <%= image_tag  'footer/instagram-icon.svg', class:'px-2'%>
        <%= image_tag  'footer/twitter-icon.svg', class:'px-2'%>
        <%= image_tag  'footer/github-icon.svg', class:'px-2'%>
        <%= image_tag  'footer/social-icon.svg', class:'px-2'%>
      </div>
    </div>
    <div class="col-md-2 col-3 mt-3">
      <div class="fw-700 fs-16 ps-3">Service</div>
      <div class="fs-14 ps-3 mt-2">Personal Loan</div>
      <div class="fs-14 ps-3 mt-2">Bussiness Loan</div>
      <div class="fs-14 ps-3 mt-2">Mortgage loan</div>
    </div>
    <div class="col-md-2 col-3 mt-3">
      <div class="fw-700 fs-16 ">Support</div>
      <div class="fs-14  mt-2 ">FAQs</div>
      <div class="fs-14 mt-2">Contact Us</div>
    </div>
    <div class="col-md-2 col-3 mt-3">
      <div class="fw-700 fs-16">Support</div>
      <div class="fs-14  mt-2">About</div>
      <div class="fs-14  mt-2">Our Management</div>
      <div class="fs-14  mt-2">Blog</div>
      <div class="fs-14  mt-2">Careers</div>
    </div>
    <div class="col-md-2 col-3 mt-3">
      <div class="fw-700 fs-16">Legal</div>
      <div class="fs-14  mt-2">Term of Use</div>
      <div class="fs-14  mt-2">Privacy Policy</div>
      <div class="fs-14  mt-2">Terms & Conditions</div>
    </div>
  </div>
  <div class="text-center pb-3">@2020 Enstore. All rights reserved.</div>
</div>